{% extends CONTACTEXTEND %}

{% block contactcontent %}
<form id="contact-form" action="{{ CONTACTURL }}" method="post" />
{% csrf_token %}
<table id="contact">
    {{ contact_form.as_table }}
    <!-- recaptcha -->
    <tr>
        <td></td>
        <td>
            <script type="text/javascript">var RecaptchaOptions = {theme : 'white'};</script>
            <script type="text/javascript" src="http://api.recaptcha.net/challenge?k={{ RECAPTCHA_PUBLIC_KEY }}{{ captcha_error}}">
            </script>

            <noscript>
                <iframe src="http://api.recaptcha.net/noscript?k={{ RECAPTCHA_PUBLIC_KEY }}{{ captcha_error}}"
                        height="300" width="500" frameborder="0"></iframe><br>
                <textarea name="recaptcha_challenge_field" rows="3" cols="40">
                </textarea>
                <input type="hidden" name="recaptcha_response_field"
                       value="manual_challenge">
            </noscript>
        </td>
    </tr>
    <!-- recaptcha -->
    <tr>
        <td></td>
        <td><input class="button" type="submit" name="submit" value="Contact"></td>
    </tr>
</table>
</form>
{% endblock %}
